.card-bg-cm {
    background-color: #2f3042 !important;
    color: #EEEDF0;
    border: 1px solid #e3e3e322 !important;
}

.input-control-cm {
    color: #EEEDF0 !important;
    background-color: #332c3e !important;
    border: 1px solid #383242 !important;
}

.btn-w-cm {
    width: 48%;
}

.MuiDivider-root {
    color: #EEEDF0 !important;
}
