.table-container {
    height: 100%;
}

.table-dark {
    background-color: #272636 !important;
}

table tbody td {
    text-align: center
}

table thead tr {
    text-align: center;
}

table {
    table-layout: fixed;
    color: #EEEDF0;
}