.container-cm {
    height: 100vh;
}

.overview-container, .vis-container {
    height: 100%;
    width: 49%;
    background-color: rgba(47, 48, 66, .5);
    border: 1px solid #e3e3e322;
}

.btn-add {
    color: #fff;
    background-color: #0177fb !important;
    border-color:#0177fb !important;
}

.stocks-view {
    width: 90%;
}

.metrics-container {
    height: 50vh;
}