
h3 {
    color: white;
}

.btn-add {
    color: #fff;
    background-color: #6C72CB !important;
    border: 1px solid #6C72CB !important;
}

.container-cm {
    height: 100vh;
}

.overview-container, .vis-container {
    height: 100%;
    width: 49%;
    background-color: rgba(47, 48, 66, .5);
    border: 1px solid #e3e3e322;
}

.stocks-view {
    width: 90%;
}

.metrics-container {
    height: 50vh;
}

.header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}